@tailwind base;
@tailwind components;
@tailwind utilities;

div {
  box-sizing: border-box;
}

@layer base {
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      -moz-apperance: none;
      appearance: none;
      margin: 0;
    }
  }